<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %> 
<body>
    
    <%- include('./partials/nav.ejs')  %> 
    
    <div class="about content">
        <h2>About Us</h2>
        <p>nodemon does not require any additional changes to your code or method of development. nodemon is a replacement wrapper for node. To use nodemon, replace the word node on the command line when executing your script.</p>
        <p>nodemon does not require any additional changes to your code or method of development. nodemon is a replacement wrapper for node. To use nodemon, replace the word node on the command line when executing your script.</p>
        <p>nodemon does not require any additional changes to your code or method of development. nodemon is a replacement wrapper for node. To use nodemon, replace the word node on the command line when executing your script.</p>
    </div>
</body>
<%- include('./partials/footer.ejs')  %> 
</html>